@model DeedSimple.ViewModel.User.ViewSellerUserModel
<h2>
    Your listed properties
</h2>
@if (Model.Properties.Count == 0)
{
    <p>You currently have no properties listed with us.</p>
}
<p>
    @Html.ActionLink("Add New Property", "Add")
</p>
<table class="table">
@foreach (var item in Model.Properties) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TagLine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { propertyId=item.Id }) |
            @Html.ActionLink("Remove", "Delete", new { propertyId = item.Id })
        </td>
    </tr>
}
</table>
