@{
    ViewBag.Title = "Deed Simple";
}

<div class="jumbotron">
    <h1>Deed Simple</h1>
    <p class="lead">Welcome to Deed Simple.  We are an online provider of estate agency and property searching services, with the aim of saving you time and money.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            You can sign up as either a buyer or seller of property using the registration form. As a buyer, you are able to search for your
            dream property, inspect it in detail, and even place an offer for it. As a seller, you can upload details about your property or properties,
            and wait for the offers to come pouring in.
        </p>
    </div>
</div>